.hi {
    background: url(../assets/스크린샷\ 2024-04-17\ 144028.png);
    height: 789px;
}

.bnr_slider_wrap {
    height: 360px;
    margin: 30px auto 70px;
    position: relative;
    width: 1193px;
}

.bnr_slider_wrap p.store_bnr_tit {
    font-size: 18px;
    color: #222;
    font-weight: bold;
    margin-bottom: 20px;
}

.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
}

.bnr_slider_wrap ul li img {
    border-radius: 3px;
    text-align: center;
    margin: 0 auto;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

.bnr_slider_wrap ul li p {
    bottom: 0;
    color: #444;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.bnr_slider_wrap ul li p span {
    color: #666;
    font-size: 12px;
}

